In [1]:
temp_list = [1,2,3,'ABC',10.09]

In [7]:
lst = [4,2,5,7,1]

In [9]:
lst = sorted(lst)
lst.

[1, 2, 4, 5, 7]

In [4]:
print(temp_list)

[1, 2, 3, 'ABC', 10.09]

In [7]:
temp_list[1:4]

[2, 3, 'ABC']

In [8]:
nest_list = [1,4,8,['ANC','ATY'],[9,198],'India']

In [11]:
sub_list = nest_list[3]
sub_list[1]

'ATY'

In [10]:
nest_list[4]

[9, 198]

In [12]:
for i in nest_list:
    print(i)

1
4
8
['ANC', 'ATY']
[9, 198]
India

In [14]:
list_len = len(nest_list)
list_len

6

In [18]:
for i in range(0,list_len):
    print(nest_list[i])

1
4
8
['ANC', 'ATY']
[9, 198]
India

In [2]:
temp_list

[1, 2, 3, 'ABC', 10.09]

In [3]:
temp_list.append('Hello')

In [4]:
temp_list

[1, 2, 3, 'ABC', 10.09, 'Hello']

In [5]:
temp_list.append(19)

In [6]:
temp_list

[1, 2, 3, 'ABC', 10.09, 'Hello', 19]

In [8]:
del temp_list[3]

In [9]:
temp_list

[1, 2, 3, 10.09, 'Hello', 19]

In [10]:
temp_list.insert(4,100)

In [11]:
temp_list

[1, 2, 3, 10.09, 100, 'Hello', 19]

In [12]:
temp_list.pop()

19

In [13]:
temp_list

[1, 2, 3, 10.09, 100, 'Hello']

In [14]:
temp_list.pop(2)

3

In [15]:
temp_list

[1, 2, 10.09, 100, 'Hello']

In [16]:
lst = []

In [19]:
lst.append(100)

In [20]:
lst

[1, 100]

In [21]:
del lst[1]

In [22]:
lst

[1]

In [23]:
lst.insert(0,100)

In [24]:
lst

[100, 1]

In [25]:
lst.pop()

1

In [26]:
lst

[100]

In [40]:
a = [1,2,3]
b = [4,5,6]

In [28]:
a + b

[1, 2, 3, 4, 5, 6]

In [33]:
a

[1, 2, 3]

In [34]:
a[1] + b[1]

7

In [35]:
a

[1, 2, 3]

In [36]:
a.clear()

In [41]:
a

[1, 2, 3]

In [42]:
c = a.copy()

In [43]:
c

[1, 2, 3]

In [44]:
4 in a

False

In [45]:
1 in a

True

In [48]:
if  1 in a:
    print('True')

True

In [49]:
10 not in a

True

In [1]:
t = (1,3,4,6,8,9)

In [2]:
t

(1, 3, 4, 6, 8, 9)

In [6]:
type(t)

list

In [5]:
t = list(t)

In [54]:
t[1:10]

(3, 4, 6, 8, 9)

In [76]:
a,list(a1)

([1, 2, 3], [1, 2, 3])

In [55]:
a1 = (1,2,3)
b1 = (4,5,6)

In [56]:
a1 + b1

(1, 2, 3, 4, 5, 6)

In [57]:
a1 *2

(1, 2, 3, 1, 2, 3)

In [67]:
z = '5'
type(z)

str

In [69]:
z = int(z)
type(z)

int

In [77]:
set_a = {1,2,34,6,7,6}

In [78]:
set_a

{1, 2, 6, 7, 34}

In [79]:
set_b = {2,3,4,6,1,78}

In [61]:
set_a.union(set_b)

{1, 2, 3, 4, 6, 7, 34, 78}

In [62]:
set_a.intersection(set_b)

{1, 2, 6}

In [63]:
set_a - set_b

{7, 34}

In [64]:
set_a.difference(set_b)

{7, 34}

In [65]:
set_a | set_b

{1, 2, 3, 4, 6, 7, 34, 78}

In [66]:
set_a & set_b

{1, 2, 6}

In [82]:
lst = list(set_a)

In [83]:
lst

[1, 2, 34, 6, 7]

In [84]:
set(lst)

{1, 2, 6, 7, 34}

In [10]:
dic = {'Name': 'ABC','City':'Ahm','Email':'Abc@gmail.com'}

In [12]:
dic['Code'] = '380001'

In [13]:
dic

{'City': 'Ahm', 'Code': '380001', 'Email': 'Abc@gmail.com', 'Name': 'ABC'}

In [88]:
dic['City']

'Ahm'

In [89]:
dic1 = {'Name': ['ABC','BCD','TYU'],'City':['Ahm','vapi','SURAT'],'Email':['Abc@gmail.com','b@gmail.com','d@g.com']}

In [90]:
dic1

{'City': ['Ahm', 'vapi', 'SURAT'],
 'Email': ['Abc@gmail.com', 'b@gmail.com', 'd@g.com'],
 'Name': ['ABC', 'BCD', 'TYU']}

In [94]:
dic1['Email'][0:2]

['Abc@gmail.com', 'b@gmail.com']

In [95]:
dic1.keys()

dict_keys(['Name', 'City', 'Email'])

In [96]:
dic1.values()

dict_values([['ABC', 'BCD', 'TYU'], ['Ahm', 'vapi', 'SURAT'], ['Abc@gmail.com', 'b@gmail.com', 'd@g.com']])

In [97]:
dic1.items()

dict_items([('Name', ['ABC', 'BCD', 'TYU']), ('City', ['Ahm', 'vapi', 'SURAT']), ('Email', ['Abc@gmail.com', 'b@gmail.com', 'd@g.com'])])

In [99]:
dic1.get('Name')

['ABC', 'BCD', 'TYU']

In [100]:
for i in dic1.keys():
    print(dic1.get(i))

['ABC', 'BCD', 'TYU']
['Ahm', 'vapi', 'SURAT']
['Abc@gmail.com', 'b@gmail.com', 'd@g.com']

In [101]:
for i in dic1.values():
    print((i))

['ABC', 'BCD', 'TYU']
['Ahm', 'vapi', 'SURAT']
['Abc@gmail.com', 'b@gmail.com', 'd@g.com']

In [ ]:
a = 298347298789

In [47]:
#Write a program that print Alphabetic based on input value
#E.g. Input = 1234 and Output = one two three four

In [17]:
L =[]
N = 10
for i in range(0,N):
    L.append(i)
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
## List Comprehension

In [35]:
l = [i for i in range(20)]

In [36]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [41]:
a =  input('Enter the name')

Enter the name10

In [42]:
a

'10'

In [46]:
lst_name = []
for i in range(5):
    a = input('Enter Name : ')
    lst_name.append(a)
    
print("=======")    
print(lst_name)

Enter Name : A
Enter Name : B
Enter Name : C
Enter Name : D
Enter Name : E
=======
['A', 'B', 'C', 'D', 'E']