## Python Program

In [27]:
# This is a variable

In [53]:
a,b,c,d,e = 10,20,30,40,50

In [55]:
e

50

In [26]:
a =10

In [143]:
a = "_This is India"

In [3]:
a.capitalize()

'This is india'

In [96]:
b = a.center(40)

In [98]:
a.center(40,"^")

'^^^^^^^^^^^^^This is India^^^^^^^^^^^^^^'

In [101]:
c = 'This'
d = 'this'
e = c.casefold()
if e == d:
    print('same')

same

In [20]:
string1 = "Hello Tutorials"
string2 = "hello tutorials"
string3 = string1.casefold()

In [100]:
if string2==string3:
   print("String2 and String3 are equal")
elif string1 != string3:
   print("Strings are not equal")

String2 and String3 are equal

In [104]:
string1.count('Hello')

1

In [106]:
from encodings.aliases import aliases 
print(aliases.keys())

dict_keys(['646', 'ansi_x3.4_1968', 'ansi_x3_4_1968', 'ansi_x3.4_1986', 'cp367', 'csascii', 'ibm367', 'iso646_us', 'iso_646.irv_1991', 'iso_ir_6', 'us', 'us_ascii', 'base64', 'base_64', 'big5_tw', 'csbig5', 'big5_hkscs', 'hkscs', 'bz2', '037', 'csibm037', 'ebcdic_cp_ca', 'ebcdic_cp_nl', 'ebcdic_cp_us', 'ebcdic_cp_wt', 'ibm037', 'ibm039', '1026', 'csibm1026', 'ibm1026', '1125', 'ibm1125', 'cp866u', 'ruscii', '1140', 'ibm1140', '1250', 'windows_1250', '1251', 'windows_1251', '1252', 'windows_1252', '1253', 'windows_1253', '1254', 'windows_1254', '1255', 'windows_1255', '1256', 'windows_1256', '1257', 'windows_1257', '1258', 'windows_1258', '273', 'ibm273', 'csibm273', '424', 'csibm424', 'ebcdic_cp_he', 'ibm424', '437', 'cspc8codepage437', 'ibm437', '500', 'csibm500', 'ebcdic_cp_be', 'ebcdic_cp_ch', 'ibm500', '775', 'cspc775baltic', 'ibm775', '850', 'cspc850multilingual', 'ibm850', '852', 'cspcp852', 'ibm852', '855', 'csibm855', 'ibm855', '857', 'csibm857', 'ibm857', '858', 'csibm858', 'ibm858', '860', 'csibm860', 'ibm860', '861', 'cp_is', 'csibm861', 'ibm861', '862', 'cspc862latinhebrew', 'ibm862', '863', 'csibm863', 'ibm863', '864', 'csibm864', 'ibm864', '865', 'csibm865', 'ibm865', '866', 'csibm866', 'ibm866', '869', 'cp_gr', 'csibm869', 'ibm869', '932', 'ms932', 'mskanji', 'ms_kanji', '949', 'ms949', 'uhc', '950', 'ms950', 'jisx0213', 'eucjis2004', 'euc_jis2004', 'eucjisx0213', 'eucjp', 'ujis', 'u_jis', 'euckr', 'korean', 'ksc5601', 'ks_c_5601', 'ks_c_5601_1987', 'ksx1001', 'ks_x_1001', 'gb18030_2000', 'chinese', 'csiso58gb231280', 'euc_cn', 'euccn', 'eucgb2312_cn', 'gb2312_1980', 'gb2312_80', 'iso_ir_58', '936', 'cp936', 'ms936', 'hex', 'roman8', 'r8', 'csHPRoman8', 'hzgb', 'hz_gb', 'hz_gb_2312', 'csiso2022jp', 'iso2022jp', 'iso_2022_jp', 'iso2022jp_1', 'iso_2022_jp_1', 'iso2022jp_2', 'iso_2022_jp_2', 'iso_2022_jp_2004', 'iso2022jp_2004', 'iso2022jp_3', 'iso_2022_jp_3', 'iso2022jp_ext', 'iso_2022_jp_ext', 'csiso2022kr', 'iso2022kr', 'iso_2022_kr', 'csisolatin6', 'iso_8859_10', 'iso_8859_10_1992', 'iso_ir_157', 'l6', 'latin6', 'thai', 'iso_8859_11', 'iso_8859_11_2001', 'iso_8859_13', 'l7', 'latin7', 'iso_8859_14', 'iso_8859_14_1998', 'iso_celtic', 'iso_ir_199', 'l8', 'latin8', 'iso_8859_15', 'l9', 'latin9', 'iso_8859_16', 'iso_8859_16_2001', 'iso_ir_226', 'l10', 'latin10', 'csisolatin2', 'iso_8859_2', 'iso_8859_2_1987', 'iso_ir_101', 'l2', 'latin2', 'csisolatin3', 'iso_8859_3', 'iso_8859_3_1988', 'iso_ir_109', 'l3', 'latin3', 'csisolatin4', 'iso_8859_4', 'iso_8859_4_1988', 'iso_ir_110', 'l4', 'latin4', 'csisolatincyrillic', 'cyrillic', 'iso_8859_5', 'iso_8859_5_1988', 'iso_ir_144', 'arabic', 'asmo_708', 'csisolatinarabic', 'ecma_114', 'iso_8859_6', 'iso_8859_6_1987', 'iso_ir_127', 'csisolatingreek', 'ecma_118', 'elot_928', 'greek', 'greek8', 'iso_8859_7', 'iso_8859_7_1987', 'iso_ir_126', 'csisolatinhebrew', 'hebrew', 'iso_8859_8', 'iso_8859_8_1988', 'iso_ir_138', 'csisolatin5', 'iso_8859_9', 'iso_8859_9_1989', 'iso_ir_148', 'l5', 'latin5', 'cp1361', 'ms1361', 'cskoi8r', 'kz_1048', 'rk1048', 'strk1048_2002', '8859', 'cp819', 'csisolatin1', 'ibm819', 'iso8859', 'iso8859_1', 'iso_8859_1', 'iso_8859_1_1987', 'iso_ir_100', 'l1', 'latin', 'latin1', 'maccyrillic', 'macgreek', 'maciceland', 'maccentraleurope', 'maclatin2', 'macintosh', 'macroman', 'macturkish', 'ansi', 'dbcs', 'csptcp154', 'pt154', 'cp154', 'cyrillic_asian', 'quopri', 'quoted_printable', 'quotedprintable', 'rot13', 'csshiftjis', 'shiftjis', 'sjis', 's_jis', 'shiftjis2004', 'sjis_2004', 's_jis_2004', 'shiftjisx0213', 'sjisx0213', 's_jisx0213', 'tis260', 'tis620', 'tis_620_0', 'tis_620_2529_0', 'tis_620_2529_1', 'iso_ir_166', 'u16', 'utf16', 'unicodebigunmarked', 'utf_16be', 'unicodelittleunmarked', 'utf_16le', 'u32', 'utf32', 'utf_32be', 'utf_32le', 'u7', 'utf7', 'unicode_1_1_utf_7', 'u8', 'utf', 'utf8', 'utf8_ucs2', 'utf8_ucs4', 'uu', 'zip', 'zlib', 'x_mac_japanese', 'x_mac_korean', 'x_mac_simp_chinese', 'x_mac_trad_chinese'])

In [105]:
a

'This is India'

In [107]:
c = a.encode('1140')
c

b'\xe3\x88\x89\xa2@\x89\xa2@\xc9\x95\x84\x89\x81'

In [108]:
c.decode('1140')

'This is India'

In [111]:
a.endswith('ia')

True

In [112]:
a.find('is')

2

In [115]:
a.index('h')

1

In [61]:
a.isalnum()

False

In [126]:
e = u'a2008'

In [123]:
e.isalpha()

False

In [128]:
e.isdecimal()

False

In [127]:
e.isdigit()

False

In [153]:
r = ''

In [154]:
a

'_This is India'

In [155]:
r.isidentifier()

False

In [ ]:
aaaa

In [31]:
len(a)

13

In [32]:
a[4:7]

' is'

In [38]:
a

'This is India'

In [2]:
a = 'Hello'

In [3]:
a = "ABC"

In [4]:
b = "DEF"

In [6]:
a +" " + b

'ABC DEF'

In [9]:
a * 2

'ABCABC'

In [51]:
10+10

20

In [52]:
20/2*5+6

56.0

In [55]:
1999/23

86.91304347826087

In [8]:
a = '5'

In [6]:
a = int(a)

In [9]:
a

'5'

In [59]:
a = 18956422540

In [10]:
a = 10

In [12]:
a == 9

False

In [13]:
if a ==9:
    print("This is true")

In [14]:
a = 100

In [15]:
b = a

In [16]:
b

100

In [22]:
str = "my name is Sahil"
print(str.upper())

MY NAME IS SAHIL

In [23]:
str = "my name is Sahil"
print(str.lower())

my name is sahil

In [20]:
str = "my name is Sahil"
print(str.capitalize())

My name is sahil

In [25]:
b = len(str)
b

16

In [28]:
# Capitalizes first letter of string
print(str.count("my")) # returns the number of occurrences of substring sub in the range [start, end]. Optional arguments start and end are interpreted as in slice notation.

1

In [29]:
print(str.find("me",4,len(str)))

5

In [39]:
z = 'Fndia'

In [40]:
z.find('i')

3

In [45]:
z[3]

'i'

In [94]:
a = 'this'

In [95]:
a.upper()

'THIS'

In [96]:
a.lower()

'this'

In [47]:
print("HELLO".isupper())

False

In [98]:
print("Hello".isupper())

False

In [48]:
print(" ".isspace())

True

In [52]:
str = "Hello World Hello World"
print(str.replace("Hello","Hi",1))

Hi World Hello World

In [9]:
str = 5

In [10]:
a = [10,19]

In [116]:
type(a)

list

In [117]:
z = [19,238,'jashdkj']

In [118]:
type(z)

list

In [119]:
z

[19, 238, 'jashdkj']

In [121]:
del z[1]

In [122]:
z

[19, 'jashdkj']

In [123]:
z

[19, 'jashdkj']

In [124]:
z.clear()

In [125]:
z

[]

In [134]:
list1 = ['physics', 'chemistry', 1997, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [130]:
print("Hello")

Hello

In [129]:
a = input("Enter your name : ")
print("Hello",a)

Enter your name : ABC
Hello ABC

In [132]:
list1

['physics', 'chemistry', 2000]

In [135]:
print(len(list1)) # length
print([1, 2, 3] + [4, 5, 6])

3
[1, 2, 3, 4, 5, 6]

In [1]:
str = "HelloWorld"
print(str.capitalize())

Helloworld

In [6]:
print(str.count("o",0,len(str)))

2

In [8]:
print(str.find("el",0,len(str)))

1

In [14]:
list1 = ['physics', 'chemistry', 1997, 2000]

In [19]:
print("This is first index value : ", list1[0])

This is first index value :  physics

In [33]:
lst = [ 100,881, 2, 3, 4, 5, 6, 7 ]

In [28]:
sorted(lst)

[2, 3, 4, 5, 6, 7, 100, 881]

In [29]:
lst.reverse()

In [35]:
lst.sort()

In [36]:
lst

[2, 3, 4, 5, 6, 7, 100, 881]

In [37]:
tup2 = (1, 2, 3, 4, 5, 6, 7 )

In [40]:
tup2[0:5]

(1, 2, 3, 4, 5)

In [41]:
A = {0, 2, 4, 6, 8} 
B = {1, 2, 3, 4, 5}

In [42]:
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8}

In [43]:
A.intersection(B)

{2, 4}

In [46]:
B - A

{1, 3, 5}

In [45]:
A ^ B

{0, 1, 3, 5, 6, 8}

In [47]:
a = {'name' : 'ABC',
    'Age':20}

In [48]:
a

{'name': 'ABC', 'Age': 20}

In [49]:
a.keys()

dict_keys(['name', 'Age'])

In [50]:
a.items()

dict_items([('name', 'ABC'), ('Age', 20)])

In [56]:
a = {'name' : ['ABC','BCD','hhh'],
    'Age':[20,56,77],
    'Email' :['a','d','d']}

In [58]:
print(a)

{'name': ['ABC', 'BCD', 'hhh'], 'Age': [20, 56, 77], 'Email': ['a', 'd', 'd']}

In [53]:
a = '4'

In [54]:
a

'4'

In [55]:
print(a)

4

In [73]:
a = 1
for i in range(1,10):
    a*=i
a

362880

In [68]:
for i in range(1,3):
    print(i)

1
2

In [78]:
a = 5
b = 10
if  a > 0  and  b > 0 :

SyntaxError: unexpected EOF while parsing (<ipython-input-78-f84a4020138e>, line 5)

In [91]:
for i in range(1,20,2):
    if i == 15:
        break
    print(i)

1
3
5
7
9
11
13

In [93]:
a = 0 
for i in range(1,101,2):
    a +=i
a

2500

In [1]:
for i in range(1,11//2):
    print(i)

1
2
3
4

In [6]:
11//2

5

In [8]:
start = 900
end = 1000
for num in range(start, end + 1):   
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [12]:
def summation(a,b):
    """Addition function"""
    return a + b
def Mutliplicaion(a,b):
    """Mutliplicaion function"""
    return a * b



a = 6#int(input("Enter value of a = "))
b = 78 #int(input("Enter value of a = "))

summ,v,w,sub = mitul(a,b)

print(f'Sum of {a} and {b} is {summ}')
print(f'multi of {a} and {b} is {v}')
print(f'Division of {a} and {b} is {w}')
print(f'sub of {a} and {b} is {sub}')

Sum of 6 and 78 is 84
multi of 6 and 78 is 468
Division of 6 and 78 is 0.07692307692307693
sub of 6 and 78 is -72

In [26]:
l1 = list(map(int,input().strip().split()))
l2 = list(map(int,input().strip().split()))

20 50 60
40 50 60

In [27]:
l1

[20, 50, 60]

In [28]:
l2

[40, 50, 60]

In [29]:
l1+l2

[20, 50, 60, 40, 50, 60]

In [54]:
def temp(b,*a):
    print(b)
    print(a)
temp(89,22,344)

89
(22, 344)

In [52]:
def printinfo(a):
    print("Hello")
    print("Prakash")
    print("Mitul")
    print(a)


    
        
printinfo(10)

Hello
Prakash
Mitul
10

TypeError: add() takes 0 positional arguments but 1 was given

In [4]:
class animal:
    def eat(self):
        print("Animal Class")

class dog(animal):
    def bark(self):
        print("Child class")

In [6]:
c = dog()
c.eat()
c.bark()

Animal Class
Child class

In [8]:
a = 10 
while a != 0:
    print(a)
    a -= 1

10
9
8
7
6
5
4
3
2
1

In [1]:
class Calculator:

    def multiplyNums(x, y):
        return x + y

# create addNumbers static method
Calculator.multiplyNums = staticmethod(Calculator.multiplyNums)

print('Product:', Calculator.multiplyNums(15, 110))

Product: 125

In [3]:
class Calculator:

    # create addNumbers static method
    @staticmethod
    def multiplyNums(x, y):
        return x + y

print('Product:', Calculator.multiplyNums(15, 110))

Product: 125

NameError: name 'multiplyNums' is not defined

In [2]:
7 ** 4

2401

In [6]:
a = 'This is india'

In [7]:
a

'This is india'

In [8]:
a.split()

['This', 'is', 'india']